.card{
    margin: 2em 0;
    font-size: 1rem;
    color: #fff;
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card2{
    width: 56%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    min-height: 25em;
    border-radius: 5px;
    padding: 3em;
    background-color: #b9e2db;
    box-shadow: 5px 5px 15px 5px #141e27;
}
.card_detail{
  padding: 0 3em;
  color: #333030;
}
.card_img{
  height: 32em;
  width: 60%;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img::after ::before{
  box-sizing: inherit;
}
.link{
  text-decoration: none;
  color: #333030;
}
.link:hover{
  color: #fff;
  text-shadow: 0 0 1em #141e27;
}
.Title{
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 2em;
    color: #333030;
}
.card_btn{
  display: flex;
  justify-content:space-around;
  
}
.btn{
  border:#333030;
  align-self: center;
  background-color: transparent;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #333030;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 6em;
  }

.btn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.btn:focus {
box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}