@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap');

body {
    font-family: 'Asap', sans-serif;
    background-color: #D1E8E4;
	


}

.App{
    min-height: 100vh;
}